. {
    errors
    health
    mdns {{.Cluster.Domain}} {{.Cluster.MasterAmount}} {{.Cluster.Name}}
    forward . {{- range $upstream := .DNSUpstreams}} {{$upstream}}{{- end}}
    cache 30
    reload
    hosts /etc/coredns/api-int.hosts {{.Cluster.Domain}} {
        {{.Cluster.APIVIP}} api-int.{{.Cluster.Domain}}
        fallthrough
    }
}
